
.container-about {
    height: 800px;
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    

    background-image: url(../../assets/steps-2.png);
    background-repeat: no-repeat;
    
    background-size: cover;
        

}
