.container-about {
  text-align: center;
  /* Created with https://www.css-gradient.com */
  background: var(--background-color);

  z-index: 2;
  position: relative;
  padding-bottom: 20px;
  scroll-margin-top: 7rem;

  @media screen and(max-width:400px) {
    padding-top: 30px;
  }
}

.title-text {
  color: var(--third-color);
  width: 70%;

  margin: auto;
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;

  letter-spacing: 1.5px;

  @media screen and(max-width:900px) {
    width: 90%;
    letter-spacing: 0px;
  }
}
