

.container-slider {
    
    text-align: center;
    background-color: var(--background-color);
    
    @media screen and(max-width:400px) {
      margin-top: 30px;
      
      
    }
    

  }
  
  .title {
    margin-bottom: 50px;

    @media screen and(max-width:400px) {
      margin-bottom: 30px;

      
      
    }
  }
  .title-text {
    
      color: var(--third-color);
      margin-top: 20px;
      font-weight: 400;
      font-size: 1rem;
      font-family: 'Coolvetica';
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }
  
  .image_wrapper {
    margin: 0px 30px;
    width: 100px;

    @media screen and(max-width:600px) {
      margin: 5px;
      
    }
  }
  
  .image_wrapper img {
    width: 100px; height: auto;
    padding-top: 30px;

    @media screen and(max-width:600px) {
      width: 80px;
      
    }
    
  }

  