.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 18px;
  background-color: var(--background-color);
  padding: 5%;

  h1 {
    color: var(--secondary-color);
    font-size: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;
  }
  p {
    color: var(--third-color);
    margin-top: 20px;
    font-weight: 400;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
}

.box {
    
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 40%;

  @media screen and (max-width: 900px) {
    max-width: 90%;
    
    
}
  
  
  .box-container {
    padding: 10px;
    border-style: solid;
    animation: fadeIn 1s 1.8s backwards;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    color: var(--secondary-color);
    width: 100%;
    display: inline;

    @media screen and (max-width: 900px) {
        width: auto;
        
        
        
    }
    

  }

  p {
    color: var(--third-color);
  }
}
