.container-skills {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background: var(--background-color);
  
  
  z-index: 2;
  position: relative;
  }
  .icon {
    color: #534523;
    font-size: 100px;
  }
p {
  color: #534523;
}

.developer-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;

}
.skill {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  
  i {
    color: var(--third-color);
  }
  i:hover {
    color: var(--secondary-color);
  }
  p {
   color: var(--third-color);
   font-size: 10px;
  }
  i:hover ~ p {
    color: var(--secondary-color);
  }
}

.divider {
  border-bottom: solid 1px #777 !important;

}


