.container-skills {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background: var(--background-color);
  
  z-index: 2;
  position: relative;
  }
  .icon {
    color: #534523;
    font-size: 100px;
  }
p {
  color: #534523;
}
  

//   p {
//     color: var(--third-color);
//     margin-top: 20px;
//     font-weight: 400;
//     font-size: 1rem;
//     font-family: sans-serif;
//     letter-spacing: 3px;
//     animation: fadeIn 1s 1.8s backwards;
//     padding-bottom: 2rem;
//   }
// }




// #skills-logo {
//     display: flex;
//     flex-wrap: wrap;
    
// }


// .logo1 {
//     color: #3776ab;
//     font-size: 100px;
//   }
//   .logo2 {
//     color: #f06529;
//     font-size: 100px;
//   }
//   .logo3 {
//     color: #28a4d9;
//     font-size: 100px;
    
//   }
//   .logo4 {
//     color: #5ed4f4;

//     font-size: 100px;
//   }
//   .logo5 {
//     color: #efd81d;
//     font-size: 100px;
//   }
//   .logo6 {
//     color: #ec4d28;
//     font-size: 100px;
//   }
.developer-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;

}
.skill {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  
  i {
    color: var(--third-color);
  }
  i:hover {
    color: var(--secondary-color);
  }
  p {
   color: var(--third-color);
   font-size: 10px;
  }
  i:hover ~ p {
    color: var(--secondary-color);
  }
}



