.container-footer {
  text-align: center;
  background: var(--background-color);
  z-index: 2;
  position: relative;

  padding-bottom: 25px;

  @media screen and(max-width:900px) {
    padding-top: 15px;
  padding-bottom: 15px;
  }

  p {
    color: var(--third-color);
    

    &:hover {
      color: var(--secondary-color);
    }
  }
}
.nav__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.nav__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}