@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
footer {
  width: 220px;
height: 28px;


/* Paragraph/Body */
margin: 0 auto;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
align-content: center;

text-align: center;

/* Neutrals/N900 */

color: var(--secondary-color);


/* Inside auto layout */


order: 0;
flex-grow: 0;
    // width: 100%;
    // display: inline-block;
    // background: #ccc;
    // height: 5vh;
    // text-align: center;
    // font-size: 11px;
    // font-weight: 200;
    
  }
 