body {
    margin: 0;
    padding: 0;

    background-image: url(../../assets/header-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important;
    display: flex;
} 