@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --background-color: #ffffff;
  --primary-color: #edf2f800;
  --secondary-color: #030303;
  --third-color: #8d8d8d;
  --fourth-color: black;
  --animated-color: rgb(56, 169, 221);

  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
 
 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}