.container-slider {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background: var(--background-color);
  z-index: 2;
  position: relative;
  padding: 20px;
}



.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  

  &:hover {
    /* enlarge */
    transform: scale(1.1);
    border: 4px solid var(--secondary-color);
    transition: border 0.3s ease-in;
    
    
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
